<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  {{!-- Cargar Bootstrap desde el CDN --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  {{!-- Fuentes desde Google Fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  {{!-- Íconos desde Fontawesome --}}
  <script src="https://kit.fontawesome.com/d7bc68b35c.js" crossorigin="anonymous"></script>
  {{!-- Estilo personalizado --}}
  <link href="/css/styles.css" rel="stylesheet">
  <title>eclothes</title>
</head>

<body class="search-page sidebar-collapse">
  {{!-- Navbar --}}
  <nav class="navbar navbar-expand-lg navbar-light ">
 <a class="navbar-brand" href="/" style="color: black;">e-clothes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
         



      <li class="nav-item active">
        <a class="btn btn-round btn-transparent" href="/carrito">
              <i class="fas fa-shopping-cart"></i> Carrito de compras
              <span class="badge badge-dark">{{session.carrito.cantidadTotal}}</span>
            </a>
      </li>

{{#if role}}

  <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              Administración</a>
            <div class="dropdown-menu">
            
               <a href="/crear-producto" class="dropdown-item">
                Crear producto
              </a>
              <div class="dropdown-divider"></div>
              <a href="/" class="dropdown-item">
                Ver productos
              </a>
                    
            </div>
          </li>

{{/if}}


       {{#if login }}
    
       <li class="dropdown nav-item">
            <a href="" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              <img src="https://www.flaticon.es/svg/static/icons/svg/126/126486.svg" style="width: 30px; height: 30px;" alt="">{{usuarios}} </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-danger">
              <a href="/perfil" class="dropdown-item">
                Perfil
              </a>
              <a class="dropdown-item" href="/cerrar-sesion">
              Cerrar sesión
              </a>
            </div>
          </li>
         {{else}}
          <li class="nav-item">
        <a class="nav-link" href="/iniciar-sesion">Iniciar Sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/crear-cuenta">Registrarse</a>
      </li>
       {{/if}}
    </ul>
  </div>
</nav>
          {{!-- Iniciar o cerrar sesión --}}
          

  {{!-- Contenido principal --}}
  {{{body}}}


  {{!-- Scripts requeridos por Bootstrap --}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  {{!-- for Jasny fileupload  --}}
  <script src="/js/jasny-bootstrap.min.js"></script>
  {{!-- Bootstrap tag input --}}
  <script src="/js/bootstrap-tagsinput.js"></script>
</body>

</html>