{{!-- Formulario de Inicio de Sesion --}}
<br>
<br>
<br>
<br>
<br>
<br>
{{>showMessages messages}}
<div class="container text-center d-flex justify-content-center">
  
    <form class="form-register" method="post" action="/iniciar-sesion" >
    <h4>Iniciar sesion</h4>
    <label for="email" class="sr-only">Correo electrónico </label>
    <input class="controls" type="email" id="inputEmail" name="email"  placeholder="Email address" required="">
    <label for="password" class="sr-only">Contraseña</label>
    <input class="controls" type="password" id="inputPassword" name="password" placeholder="Password" required="">
   
 
     <button class="botons" type="submit">Iniciar sesión</button>
    <p><a href="/crear-cuenta">¿Si no tienes Cuenta? créala aquí</a></p>
    <br>
    <br>
    <a href="/olvide-password">¿OLVIDASTE LA CONTRASEÑA?</a>
  </form>
</div>




