<br>

<!DOCTYPE html>
<html>
  <head>
    <title>e-clothes</title>
  </head>
  <body>
    <h1>Manual de usuario</h1>
    <iframe src="/uploads/manuales/manual.pdf" width="100%" height="900px">    <!--El pdf del manual tiene que estar en esa ruta, y tiene que llamarse "manual" -->
    </iframe>
  </body>
</html>