<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Mis Compras</h1>
        <hr>
        <h2>Mis Ordenes</h2>
  
  
         <div class="row add-row ">
             {{#each ordenes as |orden| }}
              <div class="col-md-4 col-sm-4">
                <h5>Name:   {{orden.name}}</h5>
                <h5>Email:  {{orden.email}}</h5>
                

            
            
                    <h5> productos: {{orden.products.nombre}}</h5>



               </div>
               <h5>Precio Total: {{orden.cart.precioTotal}} HNL</h5>
            {{/each}}
            </div>



    </div>
</div>