<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Mis Compras</h1>
        <hr>
        <h2>Mis Ordenes</h2>
  
  
         <div class="row add-row ">
             
              <div class="col-md-4 col-sm-4">
                <h5>Name:   {{ordenes.name}}</h5>
                <h5>Email:  {{ordenes.email}}</h5>
                <h5>Precio Total:   {{ordenes.cart.precioTotal}} HNL</h5>
               </div>
            
            </div>



    </div>
</div>