<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Calzonetas</h1>
        <hr>
        
  
  
         <div class="row add-row ">
             {{#each mostrarCategorias as |categoria| }}
              <div class="col-md-4 col-sm-4">
                <h5>{{categoria.nombre}}</h5>
                <p>{{categoria.descripcion}}</p>
                {{!-- <div class="col-md-3 ml-auto col-sm-4"> --}}
                <img src="uploads/products/{{pictures.[0]}}" class="img-responsive" style="max-width: 225px; max-height: 180px;" />
                {{!-- </div> --}}
                <a href="/producto/{{categoria.url}}" class="btn btn-secondary btn-round">Ver más</a>
              </div>
            {{/each}}
            </div>



    </div>
</div>