<form class="form-register" method="POST">
    <h4>Ingresa tu nueva contraseña</h4>

            <p>Has solicitado el cambio de tu contraseña anterior. Ingresa una nueva</p>
            <br>
            <br>
    <input class="controls" type="password"  placeholder="Contraseña" name="password" required>
    
    
    
    <button class="botons">Cambiar</button>


    <p>E-clothes© 2020</p> 
  </form>
