{{!-- Formulario de Restablecer contraseña --}}
<div class="container text-center d-flex justify-content-center">
<form class="form-register" method="post" action="/olvide-password" >
    <h4>Restablece tu contraseña</h4>
    <label for="email" class="sr-only">Correo electrónico</label>
    <input class="controls" type="email" id="inputEmail" name="email"  placeholder="Correo electrónico" required="">
    
   
    
    <button class="botons" type="submit">Restablecer</button>
    <br>
    <br>
     <p class="mt-5 mb-3 text-muted">E-clothes© 2020</p>
  </form>
    </div>


    