<br>
<br>
<br>
<br>
<br>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        

        <section class="hero">
        <div class="hero__content">
            <h2 class="hero__heading">Ventas</h2>
            
        </div>
    </section>




        <hr>
     
<div style="margin-left: 30%;">
         <div class="row add-row ">
             {{#each ordenes as |orden| }}
              <div class="col-md-4 col-sm-4">

                  <div class="misCompras">

             
                <h7>Nombre del Usuario:   {{orden.name}}</h7>
                <br>
                <h7>Correo electrónico:  {{orden.email}}</h7>
                    <br>
                <br>
                 <h7>Cantidad de productos: {{orden.cart.cantidadTotal}}</h7>
                <h7>Precio Total: {{orden.cart.precioTotal}} HNL</h7>

                     </div>
                     <br>
                <br>
                <br>
                <br>
               </div>
               
            {{/each}}
            </div>
</div>


    </div>
</div>
